.ToolboxHeader {
	cursor: pointer;
	text-decoration: none;
}

.ToolboxHeader:hover {
	text-decoration: underline;
}

i.fa.fa-angle-right.isRotated {
	transform: rotate(90deg);
	transition-duration: 1s;
}
