.ToolboxHeader {
	cursor: pointer;
	text-decoration: none;
}

.ToolboxHeader:hover {
	text-decoration: underline;
}

i.fa.fa-angle-right.isOpen {
	transform: rotate(90deg);
	transition-duration: 0.5s;
}
i.fa.fa-angle-right.isClosed {
	transform: rotate(0deg);
	transition-duration: 0.5s;
}
