.ToolboxHeader {
	cursor: pointer;
	text-decoration: none;
}

.ToolboxHeader:hover {
	text-decoration: underline;
}

i.fa.fa-angle-right.isOpen {
	transform: rotate(90deg);
	transition-duration: 0.5s;
}
i.fa.fa-angle-right.isClosed {
	transform: rotate(0deg);
	transition-duration: 0.5s;
}

.accordion > .card .card-header {
	margin-bottom: -1px;
	height: 50px;
	margin-top: -10px;
	padding: 0;
}
.accordion > .card .card-body {
	padding: 0px;
}
li.list-group-item.mb-1.toolbar-item {
	margin-bottom: .2rem!important;
}
